.header-wrapper {
  height: 100px;
  background: #d7e3ff;;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--mdc-outlined-card-outline-color);

  .header-heading {
    font-size: 20px
  }

  .header-buttons-wrapper {
    display: flex;
    gap: 1rem;
  }
}

.content-wrapper {
  padding: 1rem;

  mat-card {
    min-height: 100%;
  }
}
