<div class="reactive-wrapper">
  <h1>Reactive Forms:</h1>

<!--  formGroup - reactive approach form binding to component-->
<!--  Events handling in form - better practice, than on buttons-->
  <form class="form" [formGroup]="form" (reset)="onReset($event)" (ngSubmit)="onSubmit($event)">

    <div class="form-field">
      <label for="name">First Name</label>
<!--      formControlName - binding with component reactive form-->
      <input formControlName="firstName" type="text" id="name" placeholder="Enter your name">
<!--      Error messages based on validator trigger-->
<!--      Handy shortcut for condition value of ngIf-->
      <ng-container *ngIf="form.controls.firstName as firstName">
        <div class="input-error" *ngIf="firstName.dirty && firstName.hasError('required')">
          This field is required
        </div>
        <div class="input-error" *ngIf="firstName.dirty && firstName.hasError('minlength')">
          This field must be length of {{ firstName.getError('minlength').requiredLength }} or more symbols
        </div>
<!--        Error message for custom validator and it's property 'bannedWord' accessed-->
        <div class="input-error" *ngIf="firstName.dirty && firstName.hasError('banWords')">
          This field can not contain word "{{ firstName.getError('banWords').bannedWord }}"
        </div>
      </ng-container>
    </div>

    <div class="form-field">
      <label for="last-name">Last Name</label>
      <input formControlName="lastName" type="text" id="last-name" placeholder="Enter your last name">
      <ng-container *ngIf="form.controls.lastName as lastName">
        <div class="input-error" *ngIf="lastName.dirty && lastName.hasError('required')">
          This field is required
        </div>
        <div class="input-error" *ngIf="lastName.dirty && lastName.hasError('minlength')">
          This field must be length of {{ lastName.getError('minlength').requiredLength }} or more symbols
        </div>
      </ng-container>
    </div>

    <div class="form-field">
      <label for="nick-name">Nick Name</label>
      <input formControlName="nickName" type="text" id="nick-name" placeholder="Come up with a nick name">
      <ng-container *ngIf="form.controls.nickName as nickname">
        <div class="input-error" *ngIf="nickname.dirty && nickname.hasError('required')">
          This field is required
        </div>
        <div class="input-error" *ngIf="nickname.dirty && nickname.hasError('minlength')">
          This field must be length of {{ nickname.getError('minlength').requiredLength }} or more symbols
        </div>
        <div class="input-error" *ngIf="nickname.dirty && nickname.hasError('pattern')">
          Only letters, numbers, _ and . is allowed
        </div>
        <div class="input-error" *ngIf="nickname.dirty && nickname.hasError('uniqueName')">
          This nickname already taken!
        </div>
<!--        Custom message for async validator while loading-->
        <div class="input-info" *ngIf="nickname.pending">
          Checking nickname...
        </div>
      </ng-container>
    </div>

    <div class="form-field">
      <label for="email">Email</label>
      <input formControlName="email" type="email" id="email" placeholder="Provide your email">
      <ng-container *ngIf="form.controls.email as email">
        <div class="input-error" *ngIf="email.dirty && email.hasError('required')">This field is required</div>
        <div class="input-error" *ngIf="email.dirty && email.hasError('email')">The email is not valid</div>
      </ng-container>
    </div>

    <div class="form-field-inline-group">
      <div class="form-field form-field--small">
        <label for="year-of-birth">Year of birth</label>
        <select formControlName="yearOfBirth" id="year-of-birth">
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
      <div class="form-field form-field--small">
        <label for="passport">Passport Number</label>
        <input formControlName="passport" type="text" id="passport" placeholder="Provide Passport Data">
        <ng-container *ngIf="form.controls.passport as passport">
          <div class="input-error" *ngIf="passport.dirty && passport.hasError('pattern')">
            Allowed format is: AB123456
          </div>
          <div class="input-error" *ngIf="passport.dirty && passport.hasError('required')">
            This field is required for adults
          </div>
        </ng-container>
      </div>
    </div>

<!--    Grouping some fields in FormGroup inside parent FormGroup-->
    <fieldset formGroupName="address">
      <legend>Address</legend>
      <div class="form-field">
        <label for="full-address">Full Address</label>
        <input formControlName="fullAddress" type="text" id="full-address" placeholder="Street name and house number">
        <ng-container *ngIf="form.controls.address.controls.fullAddress as fullAddress">
          <div class="input-error" *ngIf="fullAddress.dirty && fullAddress.hasError('required')">
            This field is required
          </div>
        </ng-container>
      </div>
      <div class="form-field">
        <label for="city">City</label>
        <input formControlName="city" type="text" id="city" placeholder="City">
        <ng-container *ngIf="form.controls.address.controls.city as city">
          <div class="input-error" *ngIf="city.dirty && city.hasError('required')">This field is required</div>
        </ng-container>
      </div>
      <div class="form-field">
        <label for="post-code">Post Code</label>
        <input formControlName="postCode" type="number" id="post-code" placeholder="Post code">
        <ng-container *ngIf="form.controls.address.controls.postCode as postCode">
          <div class="input-error" *ngIf="postCode.dirty && postCode.hasError('required')">
            This field is required
          </div>
        </ng-container>
      </div>
    </fieldset>

<!--    Grouping FormControls with unknown names in FormArray and dynamically build it after some actions-->
    <fieldset formArrayName="phones">
      <legend>Phones</legend>
      <div class="control-buttons">
        <button type="button" (click)="addPhone()">+</button>
      </div>
      <div class="form-field" *ngFor="let _ of form.controls.phones.controls; index as i">
        <label for="phone-{{i}}">Phone Number</label>
        <div class="control-container" [formGroupName]="i">
          <select formControlName="label">
            <option value="" *ngFor="let phoneLabel of phoneLabels" [value]="phoneLabel">{{ phoneLabel }}</option>
          </select>
          <input formControlName="phone" type="text" placeholder="Enter Phone Number" id="phone-{{i}}">
          <button (click)="removeButton(i)">-</button>
        </div>
      </div>
    </fieldset>

<!--    Despite 'skills' is FormRecord it uses formGroupName directive, because these are almost the same-->
    <fieldset formGroupName="skills">
      <legend>User Skills</legend>
<!--      Async FormControls-->
      <ng-container *ngIf="skills$ | async as skills; else skillsLoading">
        <div class="skill-container" *ngFor="let skill of skills">
          <input [formControlName]="skill" type="checkbox" name="" [id]="skill">
          <label [for]="skill">{{ skill | titlecase }}</label>
        </div>
      </ng-container>
    </fieldset>

    <fieldset formGroupName="password">
      <legend>Password</legend>
      <div class="form-field">
        <label for="password">Create Password</label>
        <input formControlName="password" type="password" id="password" placeholder="Enter password...">
        <ng-container *ngIf="form.controls.password.controls.password as password">
          <div class="input-error" *ngIf="password.dirty && password.hasError('required')">This field is required</div>
          <div class="input-error" *ngIf="password.dirty && password.hasError('minlength')">
            Password should be at least <strong>{{password.getError('minlength').requiredLength}}</strong> characters
          </div>
        </ng-container>
      </div>
      <div class="form-field">
        <label for="confirm-password">Confirm Password</label>
        <input formControlName="confirmPassword" type="password" id="confirm-password" placeholder="Enter password...">
        <ng-container *ngIf="form.controls.password.controls.confirmPassword as confirmPassword">
          <div class="input-error" *ngIf="confirmPassword.hasError('passwordMatch') && confirmPassword.dirty">Password doesn't match</div>
        </ng-container>
      </div>
    </fieldset>

    <button [disabled]="form.invalid || form.pending">Save</button>

    <button class="reset-button" type="reset" [disabled]="form.pristine">Reset</button>

  </form>

  <div class="standalone-ng-model">
    [formControl] - reactive way to use standalone FormControls w/o FormGroup
    <input type="text" placeholder="Search" class="standalone-search" [formControl]="searchFieldControl">
    <div class="search-result">
      <label for="search-input">Search value: </label>
      <div id="search-input">{{ searchValue }}</div>
    </div>
  </div>
</div>

<ng-template #skillsLoading>
  <p>Skill are loading...</p>
</ng-template>
