<div class="custom-picker-wrapper">
  <h1>Custom Picker Rating:</h1>
  <form class="review" [formGroup]="form" (ngSubmit)="onSubmit($event)">
<!--    <paper-textarea-->
<!--      ngDefaultControl-->
<!--      formControlName="reviewText"-->
<!--      class="review-text"-->
<!--      placeholder="Rate this lesson"-->
<!--      label="Review"-->
<!--      rows="2"-->
<!--    ></paper-textarea>-->
<!--    <div class="review-textarea" contenteditable formControlName="reviewText"></div>-->
    <lib-custom-form formControlName="reviewRating"></lib-custom-form>
    <div class="review-textarea" contenteditable formControlName="reviewText">
    </div>
    <button>Save</button>
  </form>
</div>
